.slider {
  position: relative;
}

.slider__pagination {
  @include flex-center;
}

.slider__button {
  position: absolute;
  z-index: 100;
  padding: 0;
  top: -118px;
  width: 36px;
  height: 36px;
  border: none;
  background-color: transparent;
  cursor: pointer;

  &--prev {
    left: 0;
    transform: rotate(180deg);
  }

  &--next {
    right: 0;
  }
}

.slider__button-icon {
  stroke: $accent-color;
}


.slider__button:hover .slider__button-icon,
.slider__button:focus .slider__button-icon,
.slider__button:active .slider__button-icon {
  stroke: $dark;
}

.slider__pagination span {
  display: inline-block;
  vertical-align: middle;

  &:not(:last-child) {
    margin-right: 10px;
  }
}

span.slider__bullet {
  color: $grey;
  cursor: pointer;

  &--active {
    color: $dark;
  }

  &:not(:last-child) {
    margin-right: 15px;
  }

  &:hover,
  &:focus,
  &:active {
    color: $accent-color;
  }
}

.slider__image {
  height: auto;
  max-width: 100%;
}

.slider__image img {
  aspect-ratio: 270/284;
}

.no-js .slider__button {
  display: none;
}

@media (max-width: $desktop-width) {
  .slider__button {
    width: 36px;
    height: 36px;
    top: -107px;
  }

  span.slider__bullet {
    &:not(:last-child) {
      margin-right: 13px;
    }
  }

  .slider__image img {
    aspect-ratio: 324/340;
  }
}

@media (max-width: $tablet-width) {
  .slider__button {
    display: none;
  }

  .slider__pagination {
    margin-top: -8px;
  }

  .slider__image img {
    aspect-ratio: 130/136;
  }
}
