/* Fonts */
$font-family: "Poppins", "Arial", sans-serif;
$font-family-accent: "Cormorant Garamond", "Times New Roman", serif;

/* Colors */


// Viewports
$tablet-width: 767px;
$desktop-width: 1023px;
