/* Fonts */
$font-family: "Poppins", "Arial", sans-serif;
$font-family-accent: "Cormorant Garamond", "Times New Roman", serif;

/* Colors */
$accent-color: #a87b62;
$dark: #1d1613;
$grey: #9b9997;
$white: #ffffff;
$black: #000000;
$beige: #f0eae4;


// Viewports
$tablet-width: 767px;
$desktop-width: 1023px;
